.App {
  text-align: center;
  padding: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  margin: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  text-transform: capitalize;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}